<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding [style.background-color]="bgcolor">
  <ion-card padding="16px" *ngIf="!matches || !matches[0]">
    <ion-card-header> How to change your theme</ion-card-header>
    <ion-card-content style="color: black;">
      Change your color with
      <p style="color: black;">1. Click on the button below and say a color. </p>
      <p style="color: black;">2. The color will change immediately</p>
    </ion-card-content>
  </ion-card>
  <ion-card padding="16px" *ngIf="matches && matches[0] && matches[0] !== 'black'"
    style="background-color: rgba(0, 0, 0, 0.5);">
    <ion-card-header style="color: black;"> How to change your theme</ion-card-header>
    <ion-card-content style="color: black;">
      Change your color with
      <p style="color: black;">1. Click on the button below and say a color. </p>
      <p style="color: black;">2. The color will change immediately</p>
    </ion-card-content>
  </ion-card>
  <ion-card padding="16px" *ngIf="matches && matches[0] && matches[0] === 'black'"
    style="background-color: rgba(255, 255, 255, 0.5);">
    <ion-card-header style="color: white;"> How to change your theme</ion-card-header>
    <ion-card-content style="color: white;">
      Change your color with
      <p style="color: white;">1. Click on the button below and say a color. </p>
      <p style="color: white;">2. The color will change immediately</p>
    </ion-card-content>
  </ion-card>
  <button ion-button full style="font-size: 30px;" (click)="start()">
    <!-- <span style="color: white;">Change Theme</span>&nbsp;&nbsp; -->
    <ion-icon ios="ios-color-fill" md="md-color-fill"></ion-icon>
  </button>
  <ion-card padding="16px" *ngIf="matches && matches[0] && matches[0] !== 'black'"
    style="background-color: rgba(0, 0, 0, 0.5);">
    <ion-card-content>You Said:<br /> <span style="text-transform: capitalize; font-size: 20px;"
        [style.color]="bgcolor"><b><i>{{ matches[0] }}</i></b></span></ion-card-content>
  </ion-card>
  <ion-card padding="16px" *ngIf="matches && matches[0] && matches[0] === 'black'"
    style="background-color: rgba(255, 255, 255, 0.5);">
    <ion-card-content>You Said:<br /> <span style="text-transform: capitalize; font-size: 20px;"
        [style.color]="bgcolor"><b><i>{{ matches[0] }}</i></b></span></ion-card-content>
  </ion-card>
</ion-content>
